.container  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100vw;
    height: 10vh;
}

.container li {
    width: 20vw;
    height: 100vh;
    margin: 20px;
    list-style: none;
}

.container li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 0.5rem;
}

.container li a::hover {
    background-color: #fff;
    color: #000;
}



